@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 0deg 0% 100%;
    --bg-secondary: 0deg 0% 96%;
    --bg-secondary-hover: 0deg 0% 93%;
    --text-normal: 0deg 0% 4%;
    --text-muted: 0deg 0% 32%;
    --text-faint: 0deg 0% 64%;
    --border: 0deg 0% 85%;
    --loading: 0deg 0% 45%;
    --accent: 0deg 0% 10%;
    --accent-hover: 0deg 0% 15%;
  }

  html.dark {
    --bg-primary: 0deg 0% 12%;
    --bg-secondary: 0deg 0% 16%;
    --bg-secondary-hover: 0deg 0% 22%;
    --text-normal: 0deg 0% 96%;
    --text-muted: 0deg 0% 68%;
    --text-faint: 0deg 0% 36%;
    --border: 0deg 0% 32%;
    --loading: 0deg 0% 35%;
    --accent: 0deg 0% 100%;
    --accent-hover: 0deg 0% 95%;
  }  
}

@layer components {
  .icon-xs {
    @apply w-4 h-4;
  }
  .icon-sm {
    @apply w-5 h-5;
  }
  .avatar {
    @apply rounded-full w-7 h-7;
  }
  .success {
    @apply text-green-500 text-sm;
  }
  .error {
    @apply text-red-500 text-sm;
  }
  .headerless {
    @apply h-[calc(100vh-54px)];
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal .placement {
  opacity: 0;
  visibility: hidden;
}

.modal.active .placement {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
}